* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
hr {
  width: 700px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
p,
blockquote,
ul,
ol {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 {
  margin: 50px auto;
  font-size: 38px;
}
h2 {
  margin: 40px auto;
  font-size: 32px;
  line-height: 36px;
}
